<!-- [ngStyle]="{'background-color': 'rgb(240, 227, 165)'}" -->
<div class="container-fluid" style="background-color:#ffe092;">
    <div class="row">
        <div class="col-12" style="background-color:#58461887;">
            <div class="text-white">
                <div class="center">
                    <h1 class="center display-3">Drinks</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <app-search (seachTextChanged)="onSearchTextEntered($event)"></app-search>
    </div><br>

    <div class="center" style="margin-top:30px">

        <ng-container *ngFor="let type of getAllProductType()">
            <div class="col-12" *ngIf='ShowSeach(type.typeName)'>
                <div>
                    <div class="card-body">
                        <h2>{{type.typeName.toUpperCase()}}</h2>
                        <table class="table table-striped table-inverse">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Name</th>
                                    <th>Hot</th>
                                    <th>Cold</th>
                                    <th>Frappe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of product_list;">
                                    <tr *ngIf="(item.p_type.typeName == 'Coffee') && SeachMatch(item)" 
                                    routerLink="/products/goods/{{item.p_id}}">
                                            <td>{{item.p_name}}</td>
                                            <td>{{item.isHot}}</td>
                                            <td>{{item.isCold}}</td>
                                            <td>{{item.isFrappe}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>

    </div><br>