<body>
    <form>
        <div class="img-header">
            <h1>เครื่องดื่ม</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <img
                        src="{{product.Product_Img}}">
                </div>
                <div class="col-sm-6">
                    <div class="card-title">
                        <h2>{{product.Product_Name}}</h2>
                        <hr>
                        <div class="detail">
                            <p>หัวกาแฟรสชาติเข้มข้น เสิร์ฟด้วยแก้วขนาดเล็ก 3.5 ออนซ์</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</body>
