.page-container {
    height: 100%;
    background: #575757;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.page-container a {
    color: inherit;
    text-decoration: none;
}

.page-container header {
    background: #848484;
    color: #fff;
    padding: 18px 24px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.page-container .menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}

.page-container .app-title {
    padding: 0 3px;
}

.custom-drawer {
    background-color: rgb(61, 107, 66);
    color: #ffffff;
    /* You can add more styling here as needed */
  }

.sidenav-container {
    flex: 1;
}

.sidenav-container .sidenav {
    min-width: 240px;
    a {
        display: block;
        padding: 6px 24px;
        width: 100%;
        text-align: left;
    }
}

.sidenav-container main {
    padding: 18px 24px;
}


