<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand btn btn-dark">
        <fa-icon [icon]="faHouse" aria-hidden="true"></fa-icon>
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mit-2 mt-lg-0">
            <li class="nav-item">
                <a routerLink="/" class="btn btn-dark">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/products" class="btn btn-dark">Products</a>
            </li>
        </ul>
    </div>
</nav>
